@import url("https://fonts.cdnfonts.com/css/rawline");
@import "@govbr-ds/core/dist/core.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #0f172a;
  --font-family-base: Rawline, Raleway, Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-base, Rawline, Raleway, Arial, Helvetica, sans-serif) !important;
}

html,
body {
  font-family: var(--font-family-base, Rawline, Raleway, Arial, Helvetica, sans-serif) !important;
}

button,
input,
textarea,
select {
  font-family: var(--font-family-base, Rawline, Raleway, Arial, Helvetica, sans-serif) !important;
}

.br-header {
  --background: #ffffff;
  background: #ffffff;
}

.br-header .header-actions .header-login.header-login-right {
  margin-left: auto;
}

.br-footer {
  --footer-padding-bottom: 0;
}

.br-footer .logo {
  display: flex;
  justify-content: center;
}

.br-footer .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
